<mat-card>
    <mat-tab-group>
        <mat-tab label="General">
            <mat-card>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Company Name" value="Great Company"/>
                        </mat-form-field>
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="R.U.C" value="rucSample"/>
                        </mat-form-field>
                        <span style="font-size: x-large;">SMTP SETTINGS</span>
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="UserName" value="Administrator"/>
                        </mat-form-field>
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Password" value="passwordSample"/>
                        </mat-form-field>
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Port" value="4200"/>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                        <span>Logo</span>
                        <img style="width: 100%;" src="https://cdn.dribbble.com/users/170346/screenshots/6227385/logo_sample_1x.jpg" />
                    </div>
                </div>
            </mat-card>
        </mat-tab>
        <mat-tab label="Packages">
            <kt-package-type></kt-package-type>
        </mat-tab>
        <mat-tab label="Areas & Pricing">
           <kt-pricing></kt-pricing>
        </mat-tab>
        <mat-tab label="Customer Groups">Customer Groups</mat-tab>
        <mat-tab label="User management">
            <kt-user-list></kt-user-list>
        </mat-tab>

    </mat-tab-group>
</mat-card>