<mat-card>
    <mat-card-header>
        <div style="height: fit-content; margin-top: auto;">Agregar tipo de paquete</div>
        <button style="margin-left: auto;" type="button" mat-raised-button color="primary" (click)="addPackageType()">
            {{buttonName}}
        </button>
    </mat-card-header>
    <div class="separator separator-dashed my-6"></div>
    <mat-card-content>
        <form class="card-body" [formGroup]="packageTypeForm">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Ingrese el tipo de paquete" formControlName="packageType" />
                <mat-error>Tipo de paquete es
                    <strong>requerido</strong>
                </mat-error>
                <mat-hint align="start">Por favor ingrese
                    <strong>tipo de paquete</strong>
                </mat-hint>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>