<mat-card>
    <mat-card-header style="font-size: 15px;">
        <strong>New Payment</strong>
    </mat-card-header>
    <mat-card-content>
        <div class="separator separator-dashed my-6"></div>
        <mat-form-field class="mat-form-field-fluid" style="width: 200px; margin-left: 20px;">
            <input matInput placeholder="Total Invoice" value="107.00"/>
        </mat-form-field>
        <mat-form-field class="mat-form-field-fluid" style="width: 200px; margin-left: 20px;">
            <input matInput placeholder="Pending" value="57.00"/>
        </mat-form-field>
        <mat-form-field class="mat-form-field-fluid" style="width: 200px; margin-left: 20px;">
            <input matInput placeholder="Amount Paid" value="33.00"/>
        </mat-form-field>
    </mat-card-content>
</mat-card>